body {
    font-family: Montserrat;
    margin: 0px;
    color: rgb(180, 180, 180);
    background-image: url("images/background.jpeg");
    background-attachment: fixed;
    margin-right: 0px;
}

a {
    color: rgb(235, 235, 235);
}

#page-header {
    margin-top: 50px;
    margin-bottom: 900px;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

.name-title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
   
}

.title-container {
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-bar {
    text-align: center;
    font-size: 36px;
    text-decoration: none;
    background-color: rgb(36, 36, 139);
    padding: 10px;
}

.nBarLinks {
    padding: 10px;
    text-decoration: none;
}

.standard {
    background-color: rgb(238, 238, 238);
}

#bio {
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    font-size: 20px;
    padding: 30px;
}

#skillcontainer {
    background-color: rgb(36, 36, 139);
    font-size:100%;
}

#skillcontainer2 {
    display: flex;
    justify-content: center;
    font-size:100%;
    padding-bottom:50px;
}

#skillheader {
    text-align: center;
    padding-top: 20px;
    color: rgb(238, 238, 238);
}
#skills{
    margin-top:-22px;
}
hr {
    width: 20%;
    margin: auto;
    color: rgb(238, 238, 238);
}
#projects{
    padding-top:15px;
    margin-top:-22px;
    text-align:center;
    color: black;
}
.skillcell {
    color: rgb(238, 238, 238);
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size:100%; 
}